<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h2>
  <p class="lead">This is going to be the settings page!</p>


  <h1>User settings</h1>
  Number of rows:

  <br/><br/>



  <br/><br/>

Configure dimensions:

  <form phx-change="change_dimensions">
    <input type="number" placeholder="X" min="1" max="15" class="input input-bordered input-xs w-16 max-w-xs" name="columns" value={@columns}/>
    <input type="number" placeholder="Y" min="1" max="15" class="input input-bordered input-xs w-16 max-w-xs" name="rows" value={@rows}/>
  </form>

  <br/><br/>

Configure padding:

  <input type="number" placeholder="X" min="1" max="15" class="input input-bordered input-xs w-16 max-w-xs" name="padding" value="1"/>
  <input type="number" placeholder="Y" min="1" max="15" class="input input-bordered input-xs w-16 max-w-xs" name="padding" value="1"/>


  <button class="btn btn-sm" phx-click="col_trailing">⬌ trailing</button>
  <button class="btn btn-sm" phx-click="row_trailing">⬍ trailing</button>

  <br/><br/>

Lineup configuration:

  <button class="btn btn-sm" phx-click="number">🡆</button>
  <button class="btn btn-sm">🡄</button>
  <button class="btn btn-sm">⬌ even</button>
  <button class="btn btn-sm">⬌ odd</button>
  <button class="btn btn-sm">⬍ even</button> 
  <button class="btn btn-sm">⬍ odd</button>
  <button class="btn btn-sm">⤢ orientation</button>


  <%= @columns %>,

  <%= @rows %>

  col_trailing: <%= @col_trailing %>
  row_trailing: <%= @row_trailing %>

  <br/><br/>



  <div class="flex flex-wrap w-full">
    <%= for r <- 0..(@rows-1) do %>
      <div class={"#{if rem(r,2) == 1, do: "mb-4", else: ""} flex flex-row w-full "}>
      <%= for c <- 0..(@columns-1) do %>
        <div class="flex flex-col h-14 flex-1 grow mx-1"  >
          <button class="btn btn-warning"><%= (r) * (@columns) + (c) +1 %></button>
        </div>
      <%= end %>
      </div>
    <%= end %>
  </div>


  <br/><br/>



  <button class="btn btn-wide">Save layout</button>


</div>