version: '3.1'

services:

  db:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ~/postgresql_lanparty:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
