<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Server Error</title>
  </head>
  <body>
    <h1>500</h1>
    <p>Internal server error</p>
  </body>
</html>
