<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LAN Party Seating</title>

    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Lan Party Seating" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")}/>
    <script phx-track-static defer type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}></script>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar bg-base-300">
      <div class="navbar-start">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl primary-content" href="#">LAN Party Seating</a>
        </div>
      </div>
      <div class="navbar-end">
        <ul class="menu menu-horizontal p-0">
          <%= nav_item path: &Routes.page_path/2, conn: @conn, action: :index, text: "Assign Seating" %>
          Configure Seating
          <%= nav_item path: &Routes.help_path/2, conn: @conn, action: :index, text: "Help" %>
        </ul>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container mx-auto px-500">
        <%= if get_flash(@conn, :info) do %>
          <div class="alert alert-info shadow-lg">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
              <span><%= get_flash(@conn, :info) %></span>
            </div>
          </div>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
          <div class="alert alert-error shadow-lg">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
              <span><%= get_flash(@conn, :error) %></span>
            </div>
          </div>
        <% end %>
        <%= @inner_content %>
    </div> <!-- /container -->
  </body>
</html>
